<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment - Home Page</title>
    <!--Load CSS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <div class="card">
          <div class="card-header">
            <h2>Create User</h2>
          </div>
          <div class="card-body">
            <form action="/create-new-user" method="post">
              <div class="form-group">
                <!-- <label for="firstName">FirstName</label> -->
                <input
                  type="text"
                  name="firstName"
                  placeholder="First name ..."
                />
              </div>
              <div class="form-group">
                <!-- <label for="lastName">LastName</label> -->
                <input
                  type="text"
                  name="lastName"
                  placeholder="Last name ..."
                />
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input type="email" name="email" placeholder="Email ..." />
              </div>
              <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input type="text" name="password" placeholder="Password ..." />
              </div>
              <div class="form-group">
                <!-- <label for="address">Address</label> -->
                <input type="text" name="address" placeholder="Address ..." />
              </div>
              <div class="form-group">
                <!-- <label for="roleId">Role</label> -->
                <select name="roleId" id="roleId">
                  <option value="1">Admins</option>
                  <option value="2">Doctors</option>
                  <option value="3">Users</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-lg" type="submit">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
