<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment - Home Page</title>
  <!--Load CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="logout">
    <form action="/log-out" method="post">
      <button type="submit">LogOut</button>
    </form>
  </div>
  <div class="container">
    <header class="header">
      <div class="navbar">
        <div class="logo">
          <i class="fas fa-bars"></i>
          <img src="/images/logo-website.png" alt="">
        </div>
        <div class="menu-item">
          <h3 class="title">Specialist</h3>
          <span>Find a doctor by speciality</span>
        </div>
        <div class="menu-item">
          <h3 class="title">Health Facilities</h3>
          <span>Select a Clinic</span>
        </div>
        <div class="menu-item">
          <h3 class="title">Doctor</h3>
          <span>Choose a doctor</span>
        </div>
        <div class="menu-item">
          <h3 class="title">Exam Package</h3>
              <span>Choose a doctor</span>
        </div>
        <div class="menu-item support">
          <span><i class="fas fa-question-circle"></i>Support</span>
        </div>
      </div>
      <!--Content section-->
      <div class="header-section">
        <div class="header-content">
          <h1>SPECIALIST MEDICAL EXAMINATION PLATFORM</h1>
          <div class="search-btn">
            <i class="fas fa-search"></i>
            <input class="input-search" type="search" name="btnSearch" placeholder="Search here...." id="btn-search">
          </div>
        </div>        
      </div>
      <!--Services-->
      <div class="header-features">
        <div class="feature-item"><i class="fas fa-check"></i><h3>Big Hospital</h3></div>
        <div class="feature-item"><i class="fas fa-thumbs-up"></i><h3>Good Clinic</h3></div>
        <div class="feature-item"><i class="fas fa-user-nurse"></i><h3>Doctor</h3></div>
        <div class="feature-item"><i class="fas fa-clock"></i><h3>Priority Examination</h3></div>
      </div>
      <hr/>
    </header>
    <section class="popular-speciality">
      <h2>Popular Speciality</h2>
      <div class="speciality-list">
        <div class="speciality">
          <img src="/images/speciality/speciality1.jpg" alt="Traditional Medicine"/>
          <span class="speciality-txt">Traditional Medicine</span>
        </div>
        <div class="speciality">
          <img src="/images/speciality/speciality1.jpg" alt="Acupuncturee"/>
          <span class="speciality-txt">Acupuncture</span>
        </div>
        <div class="speciality">
          <img src="/images/speciality/speciality1.jpg" alt="Heart"/>
          <span class="speciality-txt">Heart</span>
        </div>
        <div class="speciality">
          <img src="/images/speciality/speciality1.jpg" alt="Nervee"/>
          <span class="speciality-txt">Nerve</span>
        </div>
      </div>      
    </section>
    <hr/>
    <section class="hospital-and-clinic">
      <h2>Top hospitals & clinics</h2>
      <div class="hospital-list">
        <div class="hospital">
          <img src="/images/speciality/speciality1.jpg" alt="Speciality Hospital AUH"/>
          <span class="hospital-txt">Speciality Hospital AUH</span>
        </div>
        <div class="hospital">
          <img src="/images/speciality/speciality1.jpg" alt="KHALIFA HOSPITAL"/>
          <span class="hospital-txt">KHALIFA HOSPITAL</span>
        </div>
        <div class="hospital">
          <img src="/images/speciality/speciality1.jpg" alt="SHJ HOSPITAL"/>
          <span class="hospital-txt">SHJ HOSPITAL</span>
        </div>
        <div class="hospital">
          <img src="/images/speciality/speciality1.jpg" alt="DXB HOSPITAL"/>
          <span class="hospital-txt">DXB HOSPITAL</span>
        </div>
      </div>
    </section>
    <hr/>
    <section class="doctors">
      <h2>Our Doctors</h2>
      <div class="doctor-list">
        <div class="doctor">
          <img src="/images/speciality/speciality1.jpg" alt="Dr. Hary Pham"/>
          <div class="doctor-txt">Dr. Hary Pham</div>
        </div>
        <div class="doctor">
          <img src="/images/speciality/speciality1.jpg" alt="Dr. Hary Pham"/>
          <span class="doctor-txt">Dr. Hary Pham</span>
        </div>
        <div class="doctor">
          <img src="/images/speciality/speciality1.jpg" alt="Dr. Hary Pham"/>
          <span class="doctor-txt">Dr. Hary Pham</span>
        </div>
        <div class="doctor">
          <img src="/images/speciality/speciality1.jpg" alt="Dr. Hary Pham"/>
          <span class="doctor-txt">Dr. Hary Pham</span>
        </div>
      </div>
    </section>
    <hr/>
    <section class="handbooks">
      <h2>Handbooks</h2>
      <div class="handbook-list">
        <div class="handbook">
          <img src="/images/speciality/speciality1.jpg" alt="My First Post"/>
          <div class="handbook-content">
            <h3>My First Post</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab sed architecto doloribus numquam, nemo quas corrupti iure molestiae fugit corporis a vitae tempore facilis animi repellat sunt ipsa mollitia qui, quaerat quod eligendi quos sapiente! Quaerat autem cum rem, magni, officia cupiditate, laboriosam voluptates ab tempora expedita necessitatibus quo.</p>
          </div>
        </div>
        <div class="handbook">
          <img src="/images/speciality/speciality1.jpg" alt="My First Post"/>
          <div class="handbook-content">
            <h3>My First Post</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab sed architecto doloribus numquam, nemo quas corrupti iure molestiae fugit corporis a vitae tempore facilis animi repellat sunt ipsa mollitia qui, quaerat quod eligendi quos sapiente! Quaerat autem cum rem, magni, officia cupiditate, laboriosam voluptates ab tempora expedita necessitatibus quo.</p>
          </div>
        </div>
      </div>
    </section>
    <hr/>
    <section class="contact">
      <div class="contact-forms">
        <div class="form-content">
          <h2>For doctors</h2>
          <h3>Building credibility and online brand</h3>
          <h3>Increasing the number of patients and effective management</h3>
        </div>
        <div class="form">
          <img src="/images/speciality/speciality1.jpg" alt="">
        </div>
      </div>
    </section>    
    <footer class="footer">
      Appointment &copy; 2022
    </footer>
  </div>
</body>
</html>