@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

/*Base Style*/
:root {
  --primary-color: #49BCE2;
  --secondary-color: #FFD66A;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /*Make it 10px*/
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  font-weight: 400;
  /* 1.6*10=16px */
  font-size: 1.6rem;
  color: whitesmoke;
}

h1, h2, p{
  margin: 1.6rem 0;
}

h1 {
  font-weight: 700;
  font-size: 3.6rem;  
}

h2 {
  font-weight: 700;
  font-size: 2.4rem; 
}

h3 {
  font-weight: 700;
  font-size: 1.5rem; 
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}
/*Make image auto, this will make it fit in its container*/
img {
  width: 100%;
  height: auto;
}
.container {
  // max-width: 1100px;
  margin: 0 20px;
}
/*Base Style*/
.header {
  .navbar{
    display: flex;
    height: 10vh;    
  
    .menu-item {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-right: 2rem;
    }
  
    .menu-item span{
      font-weight: 400;
      font-size: 1.2rem;
    }
  
    .menu-item.support span{
      font-size: 1.8rem;
    }
    .menu-item.support span i{
      margin-right: 1rem;
    }
  
    .menu-item.support {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1.5rem;
    }
  
    .logo img {
      height: 40px;
      margin-left: 1rem;
    }
    .logo i {
      font-size: 2.8rem;
    }
  }
  
  .header-section {
    background: #333 url("../images/background.png") no-repeat center center/cover;   
    margin: 0 -20px;
    height: 60vh;
    color: #fff;
    
    .header-content {      
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;      
      position: absolute;
      background: rgba(0,0,0, 0.4);
      height: 60vh;
      top: 10vh;
      left: 0;
      right: 0;
      bottom: 0;        
      .search-btn {
        display: flex;
        width: 40%;
        padding: 10px;
        border-radius: 20px;
        background-color: #49BCE2;
        i {
          margin-top: 15px;
          font-size: 3.5rem;
        }
        .input-search {
          font-size: 3.5rem;
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          background-color: #49BCE2;
        }
      }   
      
    }
    
  }
  .header-features {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feature-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:20px;

      i {
        margin-top: 5px;
        font-size: 2.5rem;
        color: #49BCE2;
      }
    }

  }
}
// Home Popular Speciality
.popular-speciality {
  margin-bottom: 25px;
  .speciality-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .speciality {
      margin-right: 5px;  
      img {
        opacity: 1;
	      -webkit-transition: .3s ease-in-out;
	      transition: .3s ease-in-out;
      }
      img:hover {
        opacity: 0.5;
      }    
      .speciality-txt {
        display: block;
        background-color: #f5efef;
        font-size: 2.5rem;
      }
    }
  }
}

// Home Top Hospital
.hospital-and-clinic {
  margin-bottom: 25px;
  .hospital-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .hospital {
      margin-right: 5px;  
      img {
        opacity: 1;
	      -webkit-transition: .3s ease-in-out;
	      transition: .3s ease-in-out;
      }
      img:hover {
        opacity: 0.5;
      }    
      .hospital-txt {
        display: block;
        background-color: #f5efef;
        font-size: 2.5rem;
      }
    }
  }
}

// Home Top Doctors
.doctors {
  margin-bottom: 25px;
  .doctor-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .doctor {
      margin-right: 5px;  
      img {
        opacity: 1;
	      -webkit-transition: .3s ease-in-out;
	      transition: .3s ease-in-out;
      }
      img:hover {
        opacity: 0.5;
      }    
      .doctor-txt {
        display: block;
        background-color: #f5efef;
        font-size: 2.5rem;
      }
    }
  }
}
//Home handbook
.handbooks {
  margin-bottom: 25px;
  .handbook-list {
    display: flex;
    .handbook {
      display: flex;
      img {
        object-fit: cover;
        height: 150px;
        margin-right: 15px;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}

//HOme contact
.contact {
  padding: 20px;
  margin-bottom: 15px;
  background-color: #f5efef;
  .contact-forms {
    display: flex;
    .form img {
      margin-left: 30px;
      height: 400px;
    }
  }
}

.footer {
  padding: 20px;
  font-size: 1.8rem;
  text-align: center;
}

//Card
.card {
  background-color: #f5efef;
  border-radius: 5px;
  padding: 20px;
  .card-header {
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
  }
}

//New User Form
.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 25px;  
  .form-group {
    margin-bottom: 20px;
    label {
      display: inline-block;
      width: 140px;
      text-align: right;
      font-weight: 700;
    }
    input, select {
      display: inline-block;
      padding: 10px;
      width: 100%;
      font-size: 1.6rem;
      outline: #49BCE2;      
    }
    input:focus,
    select:focus {
      border: 1px solid #49BCE2;
    }
  }
}

//btn
.btn {
  border: none;
  cursor: pointer;
  background-color: #49BCE2;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.btn-lg {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

